#why-transdirect a {
    background: url("/img/nav/services.i.gif") no-repeat scroll 0 0 transparent;
    width: 99px;
}

#topc{
	display: inline;
	width: 87%;
	float: left;
}

div#from{
	display: inline;
	width: 87%;
	float: left;

}

#full{     
    padding-top: 10px;
    z-index: 99; 
	height: 900px;
}

.check{ float: left; width: 626px; padding: 15px 20px 20px; z-index: 100; line-height:21px;}
.check ul { margin:0; }
.choices { 
	    background: none repeat scroll 0 0 #002A8F;
		border-radius: 7px 7px 7px 7px;
		float: left;
		font-size: 19px;
		height: 34px;
		margin-bottom: 4px;
		margin-right: 9px;
		padding: 0 17px 0 0;
		width: 287px;
	}
.choices span.opt{ 	
	background: url("/img/white-bullet.gif") no-repeat scroll 10px 14px transparent;  
	color: #FFFFFF;   
	display: block;  
	height: 31px; 
	line-height: 31px;   
	padding-left: 25px; 
	cursor:pointer;
}


.boxes{
	background-color:#F2F2F2;
	border:5px solid #FFFFFF;
	box-shadow:0px 0px 5px #0F6ABA;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	margin:0 0 14px 0;
	padding:8px;
}

.icon{
	float:left;
	background:url(/new/border-right-icons.jpg) right top repeat-y;
	margin-right:12px;
}

.box-info{
	cursor:pointer;
}

.box-info h6{
	font-weight:bold;
	font-size: 20px;
}
		

.box-info h6 , .box-info p{
	margin:2px 0 7px 0;
	color:#102A8B;
}
		
.box-info a{
	color:#FE6903;
}

#top-nav li{
		position:relative;
}		
	
	
#top-nav ul{
		background-color:#0A76D8;
		width:230px;
		border-right:1px solid #0048A6;
		border-bottom:1px solid #0048A6;
		padding:5px 10px;
		margin-left:0;
		list-style:none;
		position:absolute;
		left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}


#top-nav ul li{
	border:1px solid #FE9B58;
	margin:5px 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C0A', endColorstr='#FF7F29'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6C0A), to(#FF7F29));
	background: -moz-linear-gradient(top,  #FF6C0A,  #FF7F29);
	font-family:Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
/*	padding-top:1px;  Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#top-nav ul a{
	display:block;
	text-decoration:none;
	color:#FFFFFD;
	text-shadow: 1px 1px 0px #D85801;
	padding:10px;
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

#top-nav ul li:hover{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	border:1px solid #8DC1F0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73B5F1', endColorstr='#8DC9FF'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#73B5F1), to(#8DC9FF));
	background: -moz-linear-gradient(top,  #73B5F1,  #8DC9FF);
}


#top-nav ul li a:hover{
		display:block;
		text-decoration:none;
		color:#0F288C;
		text-shadow: 1px 1px 0px #C8E5FF;
		}

	
#top-nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}


#how-it-works ul li a{
	text-indent:-9999px;
}

#how-it-works ul li.road a{
	background: url(/img/nav-img-road.png) no-repeat left top;
}

#how-it-works ul li.road a:hover{
	background: url(/img/nav-img-road.png) no-repeat left bottom;
}

#how-it-works ul li.air a{
	background: url(/img/nav-img-air.png) no-repeat left top;
}

#how-it-works ul li.air a:hover{
	background: url(/img/nav-img-air.png) no-repeat left bottom;
}


#insurance ul li a{
	text-indent:-9999px;
}

#insurance ul li.road a{
	background: url(/img/nav-img-road.png) no-repeat left top;
}

#insurance ul li.road a:hover{
	background: url(/img/nav-img-road.png) no-repeat left bottom;
}

#insurance ul li.air a{
	background: url(/img/nav-img-air.png) no-repeat left top;
}

#insurance ul li.air a:hover{
	background: url(/img/nav-img-air.png) no-repeat left bottom;
}

