/*--------------------------------------------------------------

Common screen styles that are used in all static pages

--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, 
small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	}
* {
	margin:0;
	padding:0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background:#3f3f3f;	
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:95%;
	text-align:center;
  line-height: 1.5; /* Unitless for proper inheritance */
	}
/* This is where you set your desired font size. The line-height 
   and vertical margins are automatically calculated from this. 
   
   You have to add an extra calculation here because of IE, so that 
   all users may resize text manually in their browsers.
   
   The top one is for IE: The percentage is of 16px (default IE text size)
   10px is 62.5%, 12px is 75%, 13px is 81.25%, and so forth).
   The second value is what all other browsers see (the wanted font size).

	 percentage / 8.3333333 = font size in px
*/
   
body          { font-size: 75%; }   /* IE */
html > body   { font-size: 12px; }  /* Other browsers */
/*--------------------------------------------------------------
 Main Link Styles 
--------------------------------------------------------------*/
a {text-decoration:none; outline:none; color: #FF6D0C; font-weight: bold;}
a:hover {text-decoration:underline;}
a.more-than-one {
	display: block;
	width: 220px;
	height: 27px;
	background: url(/img/more-than-one.gif) no-repeat;
	}
a.more-than-one:hover {
	background-position: 0 -27px;
	}
/*--------------------------------------------------------------
 Common element styles 
--------------------------------------------------------------*/
p           { margin: 0 0 1.5em 0; text-align:left; font-size: 110%; color: #fff; }
.col p			{ font-size: 80%; color: #a5a5a5; }

ul, ol      { margin: 0 0 1.5em 1.5em; }
ul.large		{
	list-style: none;
	margin-left: 0;
	background:url(/img/seperator.gif) no-repeat 0 100%;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	}
ul.large li {
	padding-left: 25px;
	background: url(/img/bullet.gif) no-repeat 0 5px;
	color: #fff;
	font-weight: bold;
	font-size: 110%;
	line-height: 1.5;
	}
ul.large li a {
	color: #c5fd5f;
	text-decoration: none;
	}
ul.large li a:hover {
	color: #fda66d; 
	}
ul.styled {
	list-style: none;
	margin: 1.5em 0;
	float: left;
	width: 315px;
	}
ul.styled.last {
	width: 305px;
	}
ul.styled li {
	background: url(/img/list-bg.gif) no-repeat;
	margin-bottom: 10px;
	}
ul.styled li.test {
	background: url(/img/list-bg-big.gif) no-repeat;
	margin-bottom: 10px;
	width: 626px;
	}
ul.styled li span {
	background: url(/img/white-bullet.gif) no-repeat 10px 14px;
	height: 31px;
	display: block;
	line-height: 31px;
	color: #fff;
	padding-left: 25px;
	}

/* New range of services */
ul.offerings {
	list-style: none;
	margin: 0.8em 0;
	float: left;
	width: 315px;
	}
ul.offerings.last {
	width: 307px;
	}
ul.offerings li {
	background: url(/img/list-bg-offerings.gif) no-repeat;
	margin-bottom: 4px;
	height: 34px;
	}
ul.offerings li.offeringstext {
	background:url("/img/bg-offerings.gif") no-repeat scroll 0 0 transparent;
	height:90px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:20px;
	padding-top:6px;
	}
ul.offerings li.offeringsecommerce {
	background:url("/img/bg-ecommerce-offering.gif") no-repeat scroll 0 0 transparent;
	height:90px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:20px;
	padding-top:4px;
	}
ul.offerings li span {
	background: url(/img/white-bullet.gif) no-repeat 10px 14px;
	height: 31px;
	display: block;
	line-height: 31px;
	color: #fff;
	padding-left: 25px;
	}
ul.offerings a.air{
	display:block;
	height:20px;
	background: url(/img/list-link-air-offering.gif) no-repeat;
	margin-top:2px;
}
ul.offerings a.ecommerce{
	display:block;
	height:20px;
	background: url(/img/list-link-ecommerce-offering.gif) no-repeat;
	margin-top:2px;
}
ul.offerings a span{
	display:none;
}
/* End of new range of services */

ol          { list-style-type: decimal; }
dl          { margin: 1.5em 0; }
dl dt       { font-weight: bold; }

strong      { font-weight: bold; }
em        	{ font-style: italic; }

acronym, dfn, abbr {
	text-decoration:none;
	padding-bottom:2px;
	cursor:help;
	}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:separate;
	border-spacing:5;
	}
caption {
	text-align:left;
	font-weight:normal;
	}
/*--------------------------------------------------------------
 Heading Styles 
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 { 
  font-family: Arial, Helvetica, sans-serif;
  color:#111;
	}
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h2.delivers { width: 339px; height: 31px; background: url(/img/trans-direct-delivers.gif) no-repeat; }
h2.delivers span { display: none; }
/*Start H2 Offerings*/
h2.offerings { width: 352px; height: 22px; background: url(/img/trans-direct-offerings.gif) no-repeat; margin-left:10px;}
h2.offerings span { display: none; }
/*End H2 Offerings*/
#subpage-outer h2 { color: #fff; font-size: 220%; }
#subpage-outer h3 { color: #fff; font-weight: bold; height: 31px; line-height: 31px; background: url(/img/h3-bg.gif) no-repeat; padding-left: 10px; margin-bottom: 1em; }
#subpage-outer form h3 { margin-top: 1em; }
h3 { font-size: 1.4em; line-height:2; }
h4 { font-size: 1.2em; line-height:1.25; font-weight:bold; }
h5 { font-size: 1em; font-weight:bold; }
h6 { font-size: 1em; }
/*--------------------------------------------------------------
 Table Styles 
--------------------------------------------------------------
table   { margin-bottom: 1.4em; border-top:0.1em solid #ddd; border-left:0.1em solid #ddd; }
th,td   { height: 1em; padding:0.2em 0.4em; border-bottom:0.1em solid #ddd; border-right:0.1em solid #ddd; }
th      { font-weight:bold; }
/*--------------------------------------------------------------
 Layout element styles 
-------------------------------------------------------------*/
#header-outer {
	background: #fff url(/img/header-bg.gif) repeat-x;
	}
#header {
	height: 92px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	}
#content-outer {
	background: #005aad url(/img/content-bg-home.gif) repeat-x;
	}
#subpage-outer {
	background: #005aad url(/img/subpage-bg.gif) repeat-x;
	}
#subpage-outer #left .padFix {
	padding: 15px 20px 20px 20px;
	}
#content {
	margin: 0 auto;
	width: 960px;
	text-align: left;
	height: 880px;
	}
#left {
	width: 668px;
	float: left;
	}
#left .padFix {
	padding: 10px 10px 0;
	}
#right {
	width: 258px;
	float: left;
	background: url(/img/quote-bg.gif) repeat-y;
	height: 880px;
	}
#subpage-outer.quote #right {
	background: #337bbd url(/img/subpage-right-bg.gif) repeat-x;
	}
#right .padFix {
	padding: 15px 20px 20px;
	}
#feature {
	height: 179px;
	}
#footer-boxes-outer {
	background: #fff url(/img/footer-box-bg.gif) repeat-x;
	}
#footer-boxes {
	width: 960px;
	margin: 0 auto;
	position: relative;
	height: 220px;
	}
#footer-boxes .col {
	float: left;
	width: 162px;
	position: absolute;
	text-align: left;
	display: block;
	text-decoration: none;
	cursor: pointer;
	}
#footer-boxes .col:hover {
	background: 0;
	}
#footer-boxes .col.last {
	width: 150px;
	}
#footer-boxes .col.last .padFix {
	padding: 10px 0 0 10px;
	}
#footer-boxes .col .padFix {
	padding: 10px 12px 0 10px;
	display: block;
	color: #ababab;
	font-size: 80%;
	}
#footer-boxes .col:hover .padFix {
	/*color: #000;*/
	}
#footer-boxes .png1 { top: -45px; left: 0; }
#footer-boxes .png2 { top: -44px; left: 162px; }
#footer-boxes .png3 { top: -41px; left: 324px; }
#footer-boxes .png4 { top: -46px; left: 486px; }
#footer-boxes .png5 { top: -43px; left: 648px; }
#footer-boxes .png6 { top: -46px; left: 810px; }
#footer-outer {
	background: #3f3f3f url(/img/footer-bg.gif) repeat-x;
	}
#footer {
	width: 960px;
	margin: 0 auto;
	}
/*--------------------------------------------------------------
 Submenu styles 
-------------------------------------------------------------*/
#subpage-outer #right h2 {
	padding: 0 0 10px 20px;
	}
#subpage-outer #right{
	min-height: 767px;
	height:auto !important;
	height:767px;
	}
#subpage-outer.quote #right .padFix {
	padding: 15px 0;
	}
#subpage-outer #right ul {
	border-top: 1px solid #74b8f8;
	list-style: none;
	margin: 0;
	}
#subpage-outer #right ul li {
	border-bottom: 1px solid #74b8f8;
	}
#subpage-outer #right ul li a {
	display: block;
	height: 27px;
	line-height: 27px;
	padding-left: 20px;
	color: #fff;
	font-size: 120%;
	}
#subpage-outer #right ul li a:hover {
	background: #90ca2b;
	text-decoration: none;
	}
/*--------------------------------------------------------------
 Header styles 
-------------------------------------------------------------*/
#header h1 {
	margin:0;
	position:absolute;
	top:18px; left:20px;
	width:339px;
	}
#header h1 a {
	display:block;
	height:64px;
	background: url(/img/trans-direct-logo.gif) no-repeat;
	}
#header a span {
	display:none;
	}
#header img {
	float: right;
	margin: 11px 0 0 10px;
	}
#header img.last {
	float: right;
	margin: 11px 42px 0 10px;
	}
#quick-quote-tab {
	width: 177px;
	height: 38px;
	background: url(/img/quick-quote-tab.gif) no-repeat;
	float: left;
	}
#quick-quote-tab span {
	display: none;
	}
/*--------------------------------------------------------------
 Footer specific styles 
--------------------------------------------------------------*/
#footer .left {
	float: left;
	padding-top: 20px;
	}
#footer .right {
	float: right;
	padding-top: 20px;
	}
#footer .right p {
	text-align: right;
	padding-right: 13px;
	}
#footer p {
	color: #646464;
	font-size: 90%;
	}
#footer a {
	color: #646464;
	font-weight: bold;
	text-decoration: none;
	}
#footer a:hover {
	text-decoration: underline;
	}
#footer ul {
	list-style: none;
	text-align: left;
	margin: 0;
	}
#footer ul li {
	display: inline;
	padding: 0 13px 0 10px;
	background: url(/img/footer-div.gif) no-repeat 100% 50%;
	}
#footer ul li.last {
	background: 0;
	}
/*--------------------------------------------------------------
 Top Nav styles 
--------------------------------------------------------------*/
#top-nav-span {
	background: url(/img/nav-bg.gif) repeat-x 0 4px;
	height: 38px;
	}
#top-nav-wrap {
	width: 960px;
	margin: 0 auto;
	}
ul#top-nav {
	margin: 4px 32px 0 10px;
	padding: 0;
	list-style: none;
	float: left;
	display: inline;
	}
#top-nav li {
	float: left;
	}
#top-nav li a {
	display: block;
	background-position: 0 -34px;
	cursor: pointer;
	}
#top-nav li a:hover, #top-nav li a.current:hover {
	background-position: 0 -68px;
	}
#top-nav li a.current {
	background-position: 0 0;
	}
#top-nav li a.current span {
	background: url(/img/hover-arrow.gif) no-repeat 50% 100%;
	}
#top-nav li a span {
	display: block;
	height: 34px;
	text-indent: -9999px;
	cursor: pointer;
	}
#home a {
	width: 70px;
	background: url(/img/nav/home.gif) no-repeat;
	}
#how-it-works a {
	width: 144px;
	background: url(/img/nav/how-it-works.gif) no-repeat;
	}
#why-transdirect a {
	width: 176px;
	background: url(/img/nav/why-transdirect.gif) no-repeat;
	}
#insurance a {
	width: 112px;
	background: url(/img/nav/warranty.gif) no-repeat;
	}
#contact a {
	width: 122px;
	background: url(/img/nav/contact.gif) no-repeat;
	}
/*--------------------------------------------------------------
 Form styles 
-------------------------------------------------------------*/
.std-form {
	width: 618px;
	}
.std-form.quick {
	width: 218px;
	}
.std-form label {
	color: #fff;
	display: block;
	text-align: left;
	font-weight: bold;
	font-size: 95%;
	margin-bottom: 2px;
	padding-top: 2px;
	}
.std-form fieldset.inline label {
	float: left;
	}
#subpage-outer .std-form fieldset.inline.small label,
#subpage-outer .std-form fieldset.inline.mini label {
	padding-right: 10px;
	}
#subpage-outer .std-form fieldset.products fieldset.inline label {
	padding-left: 10px;
	}
#subpage-outer .std-form fieldset.inline input {
	margin: 0 10px 0 0;
	}
.std-form fieldset.inline input,
.std-form.quick fieldset.inline input,
#subpage-outer .std-form.quick fieldset.inline input {
	width: auto;
	height: auto;
	float: none;
	margin: 0 0 0 15px;
	padding: 0;
	background: 0;
	}
#subpage-outer .std-form.quick fieldset.quo input,
.std-form.quick fieldset.quo input {
	margin: 0;
	}
.std-form.quick fieldset.quo label {
	margin: 0 5px 0 0;
	}
#subpage-outer .std-form fieldset.inline.small,
#subpage-outer .std-form fieldset.inline.mini {
	width: auto;
	}
#subpage-outer form.std-form fieldset.inline.small input {
	border: 0;
	height: 22px;
	background: url(/img/form-span-blue.gif) repeat-x;
	float: left;
	width: 90px;
	color: #444;
	margin: 0;
	font-weight: bold;
	line-height: 22px;
	}
form.std-form.quick fieldset.small input,
#subpage-outer form.std-form.quick fieldset.inline.small input {
	width: 70px;
	}
#subpage-outer form.std-form fieldset.products fieldset.mini input {
	border: 0;
	height: 22px;
	background: url(/img/form-span-blue.gif) repeat-x;
	float: left;
	width: 33px;
	color: #444;
	margin: 0;
	font-weight: bold;
	line-height: 22px;
	}
#subpage-outer form.std-form fieldset.products fieldset.mini {
	width: auto;
	}
.std-form fieldset.inline select {
	width: auto;
	height: auto;
	float: none;
	margin-left: 5px;
	}
.std-form fieldset {
	padding: 2px 0 5px 0;
	}
.std-form fieldset.agree label {
	width: 300px;
	padding-right: 10px;
	}
.std-form fieldset.agree label.radio {
	width: auto;
	float: left;
	margin-right: 20px;
	}
#subpage-outer .std-form fieldset.agree label.radio input {
	margin-right: 0;
	}
#subpage-outer .std-form fieldset.float {
	float: left;
	margin-right: 30px;
	}
#subpage-outer .std-form fieldset.products fieldset.float {
	margin-right: 5px;
	}
.std-form fieldset.fixed label {
	width: 60%;
	}
.std-form fieldset.fixed input {
	width: 50px;
	height: 22px;
	line-height: 22px;
	}
.std-form fieldset.small {
	float: left;
	}
.std-form fieldset.mini {
	float: left;
	}
.std-form fieldset.sep {
	border-bottom: 1px solid #f89655;
	margin-bottom: 5px;
	}
.std-form fieldset.last {
	margin: 15px 0 40px 0;
	}
.std-form input {
	border: 0;
	height: 22px;
	background: url(/img/form-span.gif) repeat-x;
	float: left;
	width: 205px;
	color: #444;
	font-weight: bold;
	line-height: 22px;
	}
.blue.std-form input {
	background: url(/img/form-span-blue.gif) repeat-x;
	}
#quote-button, #quote-button-more {
	border: 0;
	height: 55px;
	background: 0;
	float: none;
	width: 220px;
	color: #444;
	font-weight: bold;
	line-height: normal;
	}
.std-form select {
	height: 22px;
	float: left;
	width: 205px;
	color: #444;
	font-weight: bold;
	line-height: 22px;
	}
.std-form option {
	padding-right: 10px;
	}
.std-form fieldset.mini input {
	width: 48px;
	}
.std-form fieldset.products {
	border-bottom: 1px solid #4594de;
	padding: 5px 0 2px 0;
	}
.std-form .left,
.std-form .right {
	width: 5px;
	height: 22px;
	float: left;
	}
.orange.std-form .left {
	background: url(/img/form-left-orange.gif) no-repeat;
	}
.orange.std-form .right {
	background: url(/img/form-right-orange.gif) no-repeat;
	}
.std-form.blue .left {
	background: url(/img/form-left-blue.gif) no-repeat;
	}
.std-form.blue .right {
	background: url(/img/form-right-blue.gif) no-repeat;
	}
form .to-from-arrow {
	float: left;
	position: relative;
	top: 45px;
	padding: 0 12px 0 10px;
	}
form .to-from-arrow .in {
	width: 24px;
	height: 14px;
	background: url(/img/to-from-arrow.gif) no-repeat;
	}
form.blue .to-from-arrow {
	float: left;
	position: relative;
	top: 5px;
	padding: 0 12px 0 10px;
	}
form.blue .to-from-arrow .in {
	width: 24px;
	height: 14px;
	background: url(/img/to-from-arrow-blue.gif) no-repeat;
	}
.cross {
	float: left;
	position: relative;
	top: 9px;
	padding: 0 5px 0 5px;
	}
.cross.blue {
	float: left;
	position: relative;
	top: 9px;
	padding: 0 4px 0 3px;
	}
.cross .inner {
	width: 8px;
	height: 9px;
	background: url(/img/cross.gif) no-repeat;
	}
.cross.blue .inner {
	width: 8px;
	height: 9px;
	background: url(/img/cross-blue.gif) no-repeat;
	}
a.add-item {
	display: block;
	width: 131px;
	height: 22px;
	margin-top: 10px;
	background: url(/img/add-item.gif) no-repeat;
	}
a.add-item span {
	display: none;
	}
/*--------------------------------------------------------------
 Miscellaneous styles 
--------------------------------------------------------------*/
.text-align-right {text-align:right;}
.text-align-left{text-align:left;}
.center {text-align:center;}
.float-right {float:right;padding:0 0 14px 14px;}
.float-left {float:left;padding:0 14px 14px 0;}
div.float-fix {overflow:hidden;clear:both;height:0;}
br.float-fix {clear:both;}
.bold {font-weight:bold;}
.hide {display:none;}
/*--------------------------------------------------------------
 sIFR Replacements
--------------------------------------------------------------*/
.sIFR-active #subpage-outer h2 {
	visibility:hidden;
	font-family:Verdana;
	line-height:1em;
	font-size:26px;
	}
.regsend {
    float: right;
    display: block;
    width: 320px;
    height: 50px;
    background: url(/img/RegularSenders_Button.jpg) no-repeat;
    margin: 26px 34px 0 0;
}
.regsend:hover {
    background-position: 0 -50px;
}
	
