/**
Updates by Brad farleigh
October 2012
**/
.nopadding{padding:0;}
.nomargin {margin:0;}

.airlink:hover {
	background-position: 0 -50px;
}
.airlink {
	background: url("/img/RegularSenders_Button-new.jpg") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 50px;
	margin: 26px 34px 0 0;
	width: 320px;
}
#contact a {
	width: 199px;
}
#social {
	height:200px;
}
#social a {
	margin-left:30px;
}
#social h2 {
	float:left;
	padding-top: 16px;
}
#testimonials {
	width:306px;
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}
#testimonials blockquote {
	width: 306px; /* required */
	margin: 0 auto;
}
#testimonials h3 {
	color: white;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	background:#4ea2f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding-left: 10px;
	margin-bottom: 5px;
	text-align:left;
}
#testimonials p{
	margin-bottom:0;padding-bottom:0;
}
.homeButtons {
	float:left;
	width:300px;
}
.homeButtons .btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	padding: 10px 20px;
	background: #4EA2F1; /* Old browsers */
	background: -moz-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #4EA2F1), color-stop(100%, #468ed1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4EA2F1 2%, #468ed1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4EA2F1', endColorstr='#468ed1', GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3c7ab4;
	-moz-box-shadow:
0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow:
0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
	box-shadow:
0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
	text-shadow: 1px 1px 0px #468ed1;
	filter: dropshadow(color=#468ed1, offx=-1, offy=-1);
	float:left;
	width:260px;
	text-align:center;
	margin-bottom:10px;
	line-height:1.3em;
}
.homeButtons.ecommerce .textwrap{
	float:left;
	background:#2788ce;
	margin-bottom:10px;
	padding:10px;
	width:281px;
	-webkit-border-radius: 0px 0px 6px 6px;
border-radius: 0px 0px 6px 6px;
}
.ecommerce .textwrap a{ color:#fba364; font-weight:bold; text-shadow: 0px 1px 1px #0560b6; filter: dropshadow(color=#0560b6, offx=1, offy=1); font-size:16px; text-align:center;}
.ecommerce .textwrap a:hover{text-decoration:none; color:#fff;}
.homeButtons.ecommerce .btn {
	height:48px;
	padding:none;
	height:34px;
	text-align:right;
	padding:16px 16px 0 0;
	width:284px;
	-webkit-border-radius: 6px 6px 0px 0px;
border-radius: 6px 6px 0px 0px;
	background: #4EA2F1; /* Old browsers */
	background: -moz-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #4EA2F1), color-stop(100%, #468ed1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4EA2F1 2%, #468ed1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4EA2F1 2%, #468ed1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4EA2F1', endColorstr='#468ed1', GradientType=0 ); /* IE6-9 */
-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	position:relative;
	font-size:13px;
	margin-bottom:0;
}
.homeButtons.ecommerce .btn img {
	position:absolute;
	top:0;
	left:0
}
.homeButtons .btn:hover {
	text-decoration:none;
	color:#f7f0f0;
	border: 1px solid #fff;
}
.homeButtons .btn strong {
	font-size:1.3em;
	line-height:1.4em;
	text-transform:uppercase;
}
#content {
	height:inherit;
}
#col-l, #col-r {
	float:left;
	width:332px;
}
#col-r {
	width:307px;
}
ul.offerings li.offeringstext {
	margin-bottom:0;
	padding-bottom:0;
}
ul.styled {
	margin-bottom:0;
}
#left, #right {
	height:930px;
}
#right h2 {
	color:#fff;
	font-size:18px;
}
#right {
	/*position:relative;*/
}
#right .arrow {
	position:absolute;
	right:-45px;
	top:40px;
}
.orange-cell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
	background: #ff8a3c; /* Old browsers */
	background: -moz-linear-gradient(top, #ff8a3c 2%, #ff6a07 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #ff8a3c), color-stop(100%, #ff6a07)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff8a3c 2%, #ff6a07 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff8a3c 2%, #ff6a07 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff8a3c 2%, #ff6a07 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff8a3c 2%, #ff6a07 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a3c', endColorstr='#ff6a07', GradientType=0 ); /* IE6-9 */
-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3c7ab4;
	/*text-shadow: 1px 1px 0px #7fb31c;
	filter: dropshadow(color=#7fb31c, offx=-1, offy=-1);
	*/
	float:left;
	width:260px;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
	line-height:1.3em;
}
.orange-cell h3 {
	border-bottom:1px solid #ff8a3c;
	font-size:17px;
	text-transform:uppercase;
	font-weight:bold;
}
.orange-cell p {
	font-size:12px;
	padding:5px 0 0 0;
	margin:0 0 5px 0;
	border-top:1px solid #ff6a07;
}
.orange-cell input {
	padding:10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border:none;
}
.orange-cell .arrow{font-size:20px}
.orange-cell.calculator .text {
	width:169px;
}
.orange-cell.calculator .text {
	width:50px;
}
.calculator .result {
	background:#fff;
	color:#000;
	margin-top:10px;
	font-size:10px;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.orange-cell input.submit:hover {
	cursor:pointer;
	color:#000;
		-moz-box-shadow:
0px 1px 1px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow:
0px 1px 1px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
	box-shadow:
0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
}
h2.delivers{background:url(/img/trans-direct-delivers.gif) no-repeat top center; width:100%;}